<h1>Spendings</h1>

<form class="form-horizontal" method="post">
  <div class="form-group">
    <label for="inputDate" class="col-sm-2 control-label">Date</label>
    <div class="col-sm-8 col-md-6">
      <div class="input-group date">
        <input name="date" type="text" class="form-control" placeholder="Date" data-validation="date required" data-validation-format="dd/mm/yyyy">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-th"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputCurrency" class="col-sm-2 control-label">Currency</label>
    <div class="col-sm-8 col-md-6">
      <select name="currency" class="form-control" id="inputCurrency" data-validation="required">
        <option>BRL</option>
        <option>USD</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="inputValue" class="col-sm-2 control-label">Value</label>
    <div class="col-sm-8 col-md-6">
      <input name="value" type="text" class="form-control" id="inputValue" placeholder="Value" data-validation="number required" data-validation-allowing="float">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPayMethod" class="col-sm-2 control-label">Pay method</label>
    <div class="col-sm-8 col-md-6">
      <input name="pay_method" type="text" class="form-control" id="inputPayMethod" placeholder="Pay method" data-validation="required">
    </div>
  </div>
  <div class="form-group">
    <label for="inputSeller" class="col-sm-2 control-label">Seller</label>
    <div class="col-sm-8 col-md-6">
      <input name="seller" type="text" class="form-control" id="inputSeller" placeholder="Seller" data-validation="required">
    </div>
  </div>
  <div class="form-group">
    <label for="inputCategory" class="col-sm-2 control-label">Category</label>
    <div class="col-sm-8 col-md-6">
      <select name="category" class="form-control" id="inputCategory" data-validation="required">
        <% @categories.each do |category| %>
          <option value ="<%= category[:identifier] %>"><%= category[:display_name] %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="inputTags" class="col-sm-2 control-label">Tags</label>
    <div class="col-sm-8 col-md-6">
      <input name="tags" type="text" class="form-control" id="inputTags" placeholder="Tags">
    </div>
  </div>
  <div class="form-group">
    <label for="inputDescription" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-8 col-md-6">
      <input name="description" type="text" class="form-control" id="inputDescription" placeholder="Description" data-validation="required">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8 col-md-6">
      <button type="submit" formaction="spendings" class="btn btn-primary pull-right">Create</button>
      <button type="submit" formaction="chargebacks" class="btn btn-danger pull-left">Chargeback</button>
    </div>
  </div>
</form>

<h2>Last entries</h2>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Currency</th>
      <th>Value</th>
      <th>Pay method</th>
      <th>Seller</th>
      <th>Category</th>
      <th>Description</th>
    </tr>
    <% @last_entries.each do |entry| %>
      <tr>
        <td><%= entry.date %></td>
        <td><%= entry.currency %></td>
        <td><%= sprintf("%.2f", entry.value_from_cents) %>
        <td><%= entry.pay_method %></td>
        <td><%= entry.seller %></td>
        <td><%= entry.category %></td>
        <td><%= entry.description %></td>
      </tr>
    <% end %>
  </thead>
</table>

<% content_for :javascripts do %>
  <script src="/js/holder.min.js"></script>
  <script src="/js/bootstrap-datepicker.min.js"></script>
  <script src="/js/bootstrap-datepicker.pt-BR.min.js"></script>
  <script src="/js/jquery.form-validator.min.js"></script>
  <script>
   $(function() {
       $('.input-group.date').datepicker({
           format: "dd/mm/yyyy",
           startView: 0,
           minViewMode: 0,
           language: "pt-BR",
           orientation: "top left",
           autoclose: true,
           todayHighlight: true
       });
       $('button[type=submit]').click(function() {
           $('button[type=submit]').blur();
           $('html').animate({
               scrollTop: 0
           }, 100);
       });
       $.validate({
           modules: 'toggleDisabled',
           showErrorDialogs: true,
           decimalSeparator: '.'
       });
   })
  </script>
<% end %>
